<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧬</text></svg>" />
  <title>Mutation Report</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .section {
      margin-bottom: 20px;
    }

    h1,
    h2 {
      color: #333;
      text-align: center;
      font-size: 35px;
    }

    p {
      text-align: center;
    }

    pre {
      background-color: #f4f4f4;
      padding: 10px;
      border-radius: 5px;
      border: #0000007d inset 5px;
      overflow: scroll;
    }

    .diff {
      margin-top: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    table,
    th,
    td {
      border: 1px solid #ddd;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .fixed {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 999;
      top: -25px;
    }

    #file-list {
      top: 10px;
      width: 400px;
      z-index: 999;
    }

    .hide {
      display: none;
    }

    .show {
      display: block;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="./assets/vendor/css/diff2html.min.css"
    onerror='this.onerror=null;this.href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css"' />
  <script type="text/javascript" src="./assets/vendor/js/diff2html-ui.min.js"></script>
  <script>
    window.Diff2HtmlUI ||
      document.write(
        '<script src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui.min.js">\x3C/script>'
      );
  </script>
  <script>
    function pretifyDiff(diffSrcElement) {
      const html = new Diff2HtmlUI(diffSrcElement, diffSrcElement.innerHTML, {
        outputFormat: "line-by-line",
        highlightLanguages: "go",
        matchingMaxComparisons: 25,
        matchWordsThreshold: 0.35,
        drawFileList: false,
        colorScheme: "light",
      });
      html.draw();
    }
  </script>
</head>

<body>
  <h1 class="fixed">Mutation Report</h1>

  <div id="stats" class="section" style="margin-top: 80px;">
    <h2>Stats</h2>
    <table>
      <thead>
        <tr>
          <th>Total Mutants Count</th>
          <th>Killed Count</th>
          <th>Not Covered Count</th>
          <th>Escaped Count</th>
          <th>Error Count</th>
          <th>Skipped Count</th>
          <th>Timeout Count</th>
          <th>MSI</th>
          <th>Mutation Code Coverage</th>
          <th>Covered Code MSI</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ .Stats.TotalMutantsCount }}</td>
          <td>{{ .Stats.KilledCount }}</td>
          <td>{{ .Stats.NotCoveredCount }}</td>
          <td>{{ .Stats.EscapedCount }}</td>
          <td>{{ .Stats.ErrorCount }}</td>
          <td>{{ .Stats.SkippedCount }}</td>
          <td>{{ .Stats.TimeOutCount }}</td>
          <td>{{ .Stats.Msi }}</td>
          <td>{{ .Stats.MutationCodeCoverage }}</td>
          <td>{{ .Stats.CoveredCodeMsi }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />
  {{ if .ReportDetail }}
  <select id="file-list" class="fixed">
    {{ range $key, $_ := .ReportDetail }}
    <option id="{{ $key }}">{{ $key }}</option>
    {{
    end
    }}
  </select>
  {{ range $key, $value := .ReportDetail }}
  <div id="file-{{ $key }}" class="hide">
    <div id="escaped" class="section">
      <h2>Escaped</h2>
      {{ if .Escaped }} {{ range $index, $entry := .Escaped }}
      <div>
        <h3>Mutator:</h3>
        <pre>{{ .MutatorName }}</pre>
        <h3>Diff:</h3>
        <div id="diff-escaped-{{ $index }}">{{.Diff}}</div>
        <h3>Checksum:</h3>
        <pre>{{ .Checksum }}</pre>
      </div>
      <hr />
      {{ else }}
      <p>No escaped entries available.</p>
      {{ end }} {{ else }}
      <p>No escaped entries.</p>
      {{ end }}
    </div>

    <hr />

    <div id="killed" class="section">
      <h2>Killed</h2>
      {{ if .Killed }} {{ range $index, $entry := .Killed }}
      <div id="escaped-{{ $index }}">
        <h3>Mutator:</h3>
        <pre>{{ .MutatorName }}</pre>
        <h3>Diff:</h3>
        <div id="diff-killed-{{ $index }}">{{.Diff}}</div>
        <h3>Checksum:</h3>
        <pre>{{ .Checksum }}</pre>
      </div>
      <hr />
      {{ else }}
      <p>No killed entries available.</p>
      {{ end }} {{ else }}
      <p>No killed entries.</p>
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ end }}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var diffIds = document.querySelectorAll('[id^="diff"]');
      diffIds.forEach((diff) => {
        pretifyDiff(diff);
      });
    });
    selectedFile = document.getElementById("file-list");
    document.getElementById('file-' + selectedFile.value).classList.add("show");
    selectedFile.addEventListener("change", function () {
      var reporFiles = document.querySelectorAll('[id^="file-"');
      for (var i = 1; i < reporFiles.length; i++) {
        reporFiles[i].classList.remove("show");
        reporFiles[i].classList.add("hide");
      }
      document.getElementById('file-' + selectedFile.value).classList.add("show");
    });
  </script>
</body>

</html>